<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>

    <title>Books</title>

</head>

<body>

<h1>Books</h1>

<table id="books-table" class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

<a href = "create.html" th:href = "@{/create}">Create new BOOK</a>

<script>
      const booksTable = document.getElementById("books-table");

      fetch("/api/books")
        .then(response => response.json())
        .then(books => {
          books.forEach(book => {
            booksTable.querySelector("tbody").innerHTML +=
                `
                    <tr>
              <td>${book.id}</td>
              <td>${book.title}</td>
              <td>${book.author}</td>
              <td>${book.genre}</td>
              <td><button onclick="deleteBook(${book.id})">Delete</button>
               <a href="/edit/${book.id}">Edit</a>

              </td>
                    </tr>
                `
            });
        });
</script>
<script>

function deleteBook(id) {
    fetch("/api/books/"+ id, {
        method: "DELETE"
    })
    .then(() => {
        location.reload();
    })
}
</script>
</body>
</html>