<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Save Book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
         .errors {
            color: red;
        }

    </style>

</head>
<body>
<h3>Edit Book</h3>
<form id="save-form" action="edit.html" th:method="post" th:action="@{/edit(id=${bookMongo.id})}" th:object="${bookMongo}">

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" name="id" th:value="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="bookMongo-title-save" >Title:</label>
        <input id="bookMongo-title-save" name="title" type="text" value="John Doe" th:value="*{title}"/>
        <div class="errors" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Wrong bookMongo title error</div>
    </div>

    <div class="row">
        <select id="genreId" th:field="${bookMongo.genreId}">
            <option th:each="genreMongo : ${genres}"
                    th:value="${genreMongo.id}"
                    th:text="${genreMongo.name}">
            </option>
        </select>
    </div>

    <div class="row">
        <select id="authorId" th:field="${bookMongo.authorId}">
            <option th:each="authorMongo : ${authors}"
                    th:value="${authorMongo.id}"
                    th:text="${authorMongo.fullName}">
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/}">
            <button type="button" >Cancel</button>
        </a>
    </div>
</form>
</body>
</html>
